<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>No.of Items</th>
            <th>Total Amount</th>
            <th>Current Status</th>
            <th>Change Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{order.customerName}} <a routerLink="/orders/{{order._id}}">[view order]</a></td>
            <td>{{order.quantity}}</td>
            <td>{{order.total | currency:'INR'}}</td>
            <td><span class="badge badge-primary" [appOrderStatus]="order.status">{{order.status}}</span></td>
            <td><button class="btn btn-primary" (click)="changeStatus(order._id)"
                    [disabled]="order.status.toLowerCase()==='ready to serve'">Change Status&nbsp;<i
                        class="fa fa-chevron-right"></i></button></td>
        </tr>
    </tbody>
</table>